@define-color bg #0d0f18;
@define-color fg #b8b8b0;

@define-color active #008df8;
@define-color visible #a6a6a6;
@define-color urgent #d14f79;

window#waybar {
  font-size: 12px;
  font-family: Fira Code NerdFont;
  font-weight: bold;
}

tooltip {
  font-size: 14px;
  font-family: Fira Code NerdFont;

  background: @bg;
  color: @fg;

  border: 0.5em solid @active;

  padding: 0;
  border-radius: 0;
}

tooltip label {
  padding: 1em 1.5em 1em 1em;
}

window#waybar {
  background: @bg;
  color: @fg;
}

#clock {
  padding: 0.25em 1em;
}

#network {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em 0.25em;
}

#custom-weather {
  padding: 0.25em 1.5em 0.25em 0.75em;
}

#workspaces {
  padding: 0.25em 1em 0.25em 0.5em;
}

#workspaces button {
  color: @fg;
}

#workspaces button.active {
  color: @active;
}

#workspaces button.visible {
  color: @visible;
}

#workspaces button.urgent {
  color: @urgent;
}

#idle_inhibitor {
  padding: 0.25em 1.5em 0.25em 1em;
}

#temperature {
  padding: 0.25em 1em;
}

#pulseaudio {
  padding: 0.25em 1em;
}

#backlight {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em;
}

#battery {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1.5em 0.25em 0.5em;
}