@define-color bg rgba(39, 40, 34, 0.9);
@define-color fg #b8b8b0;
@define-color active #ffaa5c;
@define-color visible #5cff98;
@define-color urgent #d14f79;

window#waybar {
  font-size: 20px;
  font-family: Fira Code NerdFont;
  font-weight: bold;
}

tooltip {
  font-size: 18px;
  font-family: Fira Code NerdFont;

  background: @bg;
  color: @fg;

  border-width: 0;
  border-radius: 1em;

  padding: 0;
}

tooltip label {
  padding: 1em 1.5em 1em 1em;
}

window#waybar {
  background: transparent;
}

#clock {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em;
}

#network {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em 0.25em;
}

#custom-weather {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1.5em 0.25em 0.75em;

  border-bottom-right-radius: 0.5em;
}

#workspaces {
  background: @bg;
  color: @fg;

  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  margin-bottom: 0.25em;
  padding: 0.25em 1em 0.25em 0.5em;
}

#workspaces button {
  color: @fg;
}

#workspaces button.active {
  color: @active;
}

#workspaces button.visible {
  color: @visible;
}

#workspaces button.urgent {
  color: @urgent;
}

#idle_inhibitor {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1.5em 0.25em 1em;

  border-bottom-left-radius: 0.5em;
}

#temperature {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em;
}

#pulseaudio {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em;
}

#backlight {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1em;
}

#battery {
  background: @bg;
  color: @fg;

  margin-bottom: 0.25em;
  padding: 0.25em 1.5em 0.25em 0.5em;
}