@define-color bg #002a3a;
@define-color fg #fffaf3;
@define-color neg #0d0f18;
@define-color highlight #008df8;

* {
  font-size: 24px;
  font-family: Fira Code NerdFont;
}

#outer-box {
  background: @bg;

  padding: 0.25em;
}

#input {
  font-size: 30px;
  background: @neg;
  
  border: none;
  border-radius: 0;

  padding: 0.75em 0.5em 0.25em 0.5em;
  margin-bottom: 0.5em;
}

#entry {
  padding: 0.25em;
}

#entry:selected {
  background: @highlight;
}