@define-color fg #000000;
@define-color bg #f8f8f8;
@define-color selected #CFE8FD;
@define-color border #404040;

* {
  font-size: 48px;
  font-family: Nimbus Sans;

  color: @fg;
}

#outer-box {
  background: @bg;

  border-radius: 0.1em;
  border: 0.05em solid @border;
}

#input {
  font-size: 72px;

  background: @bg;
  caret-color: transparent;

  border: none;
  border-bottom: 0.025em solid @border;
  border-radius: 0.05em;

  padding: 0.25em 0.125em 0 0.125em;
}

#scroll {
  min-height: 1.5em;
}

#entry {
  padding: 0.25em;
}

#entry image {
  padding-right: 0.5em;
}

#entry:selected {
  background: @selected;
}