[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=env WINEPREFIX="/home/ash/games/epic/prefixes/Rise of Industry" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
Icon=2E40_notepad.0
